* {
    box-sizing: border-box
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.bigger {
    zoom: 1.5;
}

html {
    min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    font-size: 14px;
    font-family: sans-serif;
    background-color: #011826;
    color: #F1F2EB;
}

#container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

header, section, footer {
    width: 100%;
    margin: 0 auto;
    max-width: 1250px;
    padding: 10px;
}

header, footer {
    background-color: #03658C;
    color: #F1F2EB;
}

header {
    border-bottom: 1px solid #011826;
    border-radius: 8px 8px 0 0;
}

footer {
    border-top: 1px solid #011826;
    border-radius: 0 0 8px 8px;
}

section {
    overflow: auto;
    flex: 1;
    background-color: #F1F2EB;
    color: #011826;
}

.box {
    margin: 8px auto;
    max-width: 80%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #011826;
    background-color: #023859;
    color: #F1F2EB;
    text-align: center;
}

.box a {
    color: #F1F2EB;
}

.box a:hover {
    text-decoration: none;
}

h1, h2 {
    margin: 0;
}

header h2 {
    float: right;
    cursor: default;
}

header h2 img {
    max-height: 40px;
    vertical-align: middle;
}

section h2 {
    text-align: center;
}

h3, h3.header-1 {
    margin: 0;
    font-size: 22px;
}

h4, h3.header-2 {
    margin: 0 0 0 20px;
    font-size: 18px;
}

h5, h3.header-3 {
    margin: 0 0 0 40px;
    font-size: 16px;
}

h6, h3.header-4 {
    margin: 0 0 0 60px;
    font-size: 14px;
}

table.bigtable {
    width: 100%;
    border-collapse: collapse;
}

table.bigtable > tbody > tr > td {
    width: 50%;
}

td {
    vertical-align: top;
}

tr.highlight > td {
    background: rgba(0, 0, 0, 0.05);
}

/* Used to hold title/notes (first row) + comments textarea (2nd row) */
table.smalltable {
    width: 100%;
    height: 100%;
}

td.bigboyheftymama {
    height: 100%;
}

textarea {
    width: 100%;
    /* height: 120px; */
}

td > textarea {
    /* height: 100%; */
}

.points-input {
    width: 60px;
}

tr.topborder > td:not(.noborder) {
    border-top: 1px solid #03658C;
}

summary {
    cursor: default;
}

details > div {
    margin-left: 18px;
}
