* {
    box-sizing: border-box
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

html {
    min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.4;
    font-size: 10.5pt;
    font-family: sans-serif;
    background-color: #011826;
    color: #F1F2EB;
}

div.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3px;
}

header, section, footer {
    width: 100%;
    margin: 0 auto;
    max-width: 1250px;
    padding: 6px;
}

header, footer {
    background-color: #03658C;
    color: #F1F2EB;
}

header {
    border-bottom: 1px solid #011826;
    border-radius: 7px 7px 0 0;
}

footer {
    border-top: 1px solid #011826;
    border-radius: 0 0 7px 7px;
}

section {
    overflow: auto;
    flex: 1;
    background-color: #F1F2EB;
    color: #011826;
}

p {
    margin: 8px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0;
}

header h2 {
    float: right;
    cursor: default;
}

header h2 img {
    max-height: 40px;
    vertical-align: middle;
}

section h2, .centered {
    text-align: center;
}

h1 {
    font-size: 21pt;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 14pt;
}

h4 {
    font-size: 13pt;
}

h5 {
    font-size: 12pt;
}

h6 {
    font-size: 11pt;
}

a, .link {
    color: inherit;
    text-decoration: underline;
}

a:hover, .link:hover {
    text-decoration: none;
}

a.no-underline {
    text-decoration: none;
}

summary {
    cursor: default;
}

details > div {
    margin-left: 18px;
}

td, th {
    vertical-align: top;
}

ul {
    padding-left: 15px;
}

input.big-checkbox {
    zoom: 1.5;
}

input[type=number] {
    max-width: 3.5em;
}

input[type=button],
input[type=email],
input[type=file],
input[type=number],
input[type=password],
input[type=reset],
input[type=search],
input[type=submit],
input[type=tel],
input[type=text],
input[type=url],
button {
    border: 1px solid;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.17);
}

textarea {
    width: 100%;
}

.box {
    margin: 8px auto;
    max-width: 80%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #011826;
    background-color: #023859;
    color: #F1F2EB;
    text-align: center;
}

.box a {
    color: #F1F2EB;
}

.box a:hover {
    text-decoration: none;
}

div.inset {
    cursor: pointer;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.07);
    padding: 4px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

div.row-grade {
    border-top: 1px solid #03658C;
}

section > div > div.row-grade:first-child {
    border-top: none;
}

div.row-grade-body {
    margin-left: 10px;
}

div.row-children {
    margin-left: 20px;
}

table.hint-table {
    width: 100%;
}

table.row-grade-table {
    width: 100%;
}

table.row-grade-table > tbody > tr > td {
    width: 50%;
    padding: 3px;
}

table.submission-list, table.stats-list {
    margin: 30px auto;
}

table.submission-list td, table.stats-list td,
table.submission-list th, table.stats-list th {
    margin-top: 10px;
    font-size: 130%;
    color: #565656;
    cursor: default;
}

table.submission-list td {
    padding-left: 15px;
    padding-top: 10px;
}

table.stats-list td {
    padding-left: 10px;
    text-align: left;
}

table.stats-list th, table.stats-list td.stats-number {
    text-align: right;
}

table.submission-list a, table.stats-list a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

table.submission-list a:hover, table.stats-list a:hover {
    text-decoration: underline;
}
