[submodule "external/pyprovide"]
	path = external/pyprovide
	url = https://github.com/jhartz/pyprovide.git
[submodule "external/iochannels"]
	path = external/iochannels
	url = https://github.com/jhartz/iochannels.git
