* {
    box-sizing: border-box
}

html {
    min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    font-size: 14px;
    font-family: sans-serif;
    background-color: #011826;
    color: #F1F2EB;
}

#container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

header, section, footer {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
}

header, footer {
    background-color: #03658C;
    color: #F1F2EB;
}

header {
    border-bottom: 1px solid #011826;
    border-radius: 8px 8px 0 0;
}

footer {
    top: 1px solid #011826;
    border-radius: 0 0 8px 8px;
}

section {
    overflow: auto;
    flex: 1;
    background-color: #F1F2EB;
    color: #011826;
}

.box {
    margin: 8px auto;
    max-width: 80%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #011826;
    background-color: #023859;
    color: #F1F2EB;
    text-align: center;
}

.box a {
    color: #F1F2EB;
}

.box a:hover {
    text-decoration: none;
}

h1, h2 {
    margin: 0;
}

header h2 {
    float: right;
}

h3 {
    margin: 0;
    font-size: 22px;
}

h4 {
    margin: 0 0 0 20px;
    font-size: 18px;
}

h5 {
    margin: 0 0 0 40px;
    font-size: 16px;
}

h6 {
    margin: 0 0 0 60px;
    font-size: 14px;
}

table.bigtable {
    width: 100%;
}

table.bigtable > tbody > tr > td {
    width: 50%;
}

textarea {
    width: 100%;
    height: 100%;
}

.points-input {
    width: 60px;
}

tr.topborder > td:not(.noborder) {
    border-top: 1px solid #03658C;
}

details > div {
    margin-left: 18px;
}