<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GradeFast grade book</title>
    <link rel="stylesheet" type="text/css" href="/static/style/style.css">
</head>
<body>

<div id="container"></div>

<script type="text/javascript">
var initialList = {{ initial_list|safe }};
var initialGradeStructure = {{ initial_grade_structure|safe }};
var initialSubmissionIndex = {{ initial_submission_index|safe }};

// Whether to make sure when enabling or disabling hints (on grade scores) that
// applying the hint doesn't make us go out of the grade item's range
var check_hint_range = {{ check_hint_range|safe }};

// usually /gradefast/
var base = location.pathname.substring(0, location.pathname.lastIndexOf("gradebook"));
var styleBase = "/static/style/";
</script>
<script type="text/javascript" src="/static/dist/bundle.js"></script>

</body>
</html>
