<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>GradeFast grade book</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
<div id="container">

<header>
    <h2 id="score_container" style="display: none;"><span>
        <label>Current Score: </label><span id="current_score">0</span>&nbsp;/&nbsp;<span id="max_score">0</span>
        &emsp;
        <input id="late" type="checkbox" tabindex="1"><label for="late"> Late?</label>
        &emsp;
        <a href="/gradefast/grades.csv" title="Download Grades as CSV"
           target="_blank"><img src="/static/csv.png"></a>
        <a href="/gradefast/grades.json" title="Download Grades as JSON"
           target="_blank"><img src="/static/json.png"></a>
    </span></h2>
    <h1 id="title">GradeFast</h1>
    <h1 id="name" style="display: none;"></h1>
</header>

<section id="loading">
    <h2>Loading...</h2>
</section>

<section id="dammit" style="display: none;">
    <h2>Start a submission, dammit!</h2>
</section>

<section id="main" style="display: none;"></section>

<footer id="main_footer" style="display: none;">
    <textarea id="overall_comments" style="height: 100%;"
              placeholder="Overall Comments (Markdown-parsed)"></textarea>
</footer>

<section id="done" style="display: none;">
    <div class="box">
        <h2>Grading Complete!</h2>
        <p><a id="csv_link" target="_blank">Download CSV file</a></p>
        <p><a id="json_link" target="_blank">Download JSON file</a></p>
    </div>
    <h3>Summary</h3>
    <div id="summary"></div>
</section>

</div>

<script type="text/javascript">
// Server variables
var gradeStructure = {{ gradeStructure|safe }};
var isDone = {{ isDone|safe }};
var currentSubmissionID = {{ currentSubmissionID|safe }};

// Whether to make sure when enabling or disabling point hints that
// applying the point hint doesn't make us go out of the grade item's range
var checkPointHintRange = {{ checkPointHintRange|safe }};

// usually /gradefast/
var base = location.pathname.substring(0, location.pathname.indexOf("gradebook"));
var docTitle = document.title;
</script>
<script type="text/javascript" src="/static/jquery-2.1.4.min.js"></script>
<script>
// For development... (to always load the latest)
var scripts = ["structure.js", "submissions.js", "gradebook.js"];
for (var i = 0; i < scripts.length; i++) {
    document.write('<script type="text/javascript" src="/static/' +
    scripts[i] + '?a=' + Math.random() + '"></scr' + 'ipt>');
}
</script>
</body>
</html>
