<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GradeFast grade book</title>
    <link rel="stylesheet" type="text/css" href="/static/style/style.css">
</head>
<body>

<div id="root"></div>

<script type="text/javascript">
var CONFIG = {
    CLIENT_ID: {{ client_id|safe }},
    EVENTS_KEY: {{ events_key|safe }},

    // usually /gradefast/
    BASE: location.pathname.substring(0, location.pathname.lastIndexOf("gradebook")),
    STYLE_BASE: "/static/style/"
};
</script>
<script type="text/javascript" src="/static/dist/bundle.js"></script>

</body>
</html>
